/* Mobile devices */
@media screen and (max-width: 480px) {
    .subtitle span {
        font-size: 1.8em;
    }
    
    .links a {
        font-size: 1.6em;
        display: block;
        margin: 1rem auto;
        width: fit-content;
    }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
} 